.vscode/
.idea
.DS_Store
.gigaide
img/*

# Binaries
*.tar.gz
MuseBot*
!musebot.service
*.log
*.db
go_build_*
MusebotAdmin*
github.com

conf/mcp/mcp-*.json
conf/systemd/.env-*
conf/systemd/musebot-*.service

bin/
build/
output/
data/
release/